<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="SetsController as vm">
            <label for="search">Tema a buscar: </label>
            <select ng-model="vm.type"
                ng-options="type.name for type in vm.types track by type.id">
            <input name="search" ng-model="vm.search">
            <select ng-show="vm.type.id==='P'" ng-model="vm.partType"
                ng-options="partType.desc for partType in vm.partTypes track by partType.part_type_id">
            </select>
            <button ng-click="vm.getSets()">Buscar</button>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Thumb</th><th>ID</th><th>Descrição</th>
                    </tr>
                </thead>
                <tr ng-repeat="set in vm.sets">
                    <td><img ng-src="{{set.img_tn}}" alt="{{set.descr}}"></td>
                    <td>{{set.set_id}}</td>
                    <td>{{set.descr}}</td>
                </tr>
            </table>
        </div>
        <script src="js/app.module.js"></script>
        <script src="js/rebrickable.service.js"></script>
        <script src="js/sets.controller.js"></script>
    </body>
</html>